{% extends "base.html" %}

{% block title %}Enciclopèdies{% endblock %}
{% block heading %}Enciclopèdies{% endblock %}
{% set active_page = "enciclopedies" %}

{% block form %}
<div class="mb-3">
    <label class="form-label">Editorial</label>
    <input type="text" id="editorial" class="form-control" name="editorial" placeholder="Entra aquí l'editorial del llibre">
</div>
<div class="mb-3">
    <label class="form-label">Any</label>
    <input type="number" id="any" class="form-control" name="any" placeholder="Entra aquí l'any de publicació">
</div>
<div class="mb-3">
    <label class="form-label">Lloc</label>
    <input type="text" id="lloc" class="form-control" name="lloc" placeholder="Entra aquí el lloc de publicació">
</div>
<div class="mb-3">
    <label class="form-label">Volum</label>
    <input type="number" id="volum" class="form-control" name="volum" placeholder="Entra aquí el número de volum">
</div>
{% endblock %}